.container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 8px 8px;
    grid-auto-flow: row;
    grid-template-areas:
      "div1 div1 div2 div2 div3 div3";
    font-family: monospace;
    color: white;
    background-color: red;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .div1 { 
      grid-area: div1; 
      text-align: center;
      background-color: pink;
      padding: 100px
    }
  
  .div2 { 
      grid-area: div2; 
      text-align: center;
      background-color: rgb(247, 129, 149);
      padding: 100px
    }
  
  .div3 { 
      grid-area: div3; 
      text-align: center;
      background-color: pink;
      padding: 100px;
    }
  
    .container1 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 8px 8px;
        grid-auto-flow: row;
        grid-template-areas:
          "Header Header Header Header Header img";
        background-color: red;
        font-family: monospace;
        color: white;
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 40px;
      }
      
    .Header { 
        grid-area: Header; 
        text-align: center;
        background-color: rgb(250, 93, 93);
        padding: 90px;
        }
      
    .img { 
        grid-area: img;
        background-color: rgb(248, 81, 109); 
        text-align: center;
        padding: 90px;
        padding-left: 10px;
        padding-right: 10px;
        }
    
    .container2 {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 8px 8px;
        color: white;
        font-family: monospace;
        background-color: red;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 40px;
        grid-auto-flow: row;
        grid-template-areas:
            "mainn mainn mainn mainn mainn sidebar sidebar"
            "quote quote quote quote quote sidebar sidebar";
          }
          
    .mainn { 
        grid-area: mainn; 
        background-color: pink;
        text-align: center;
        padding: 110px;
    }
          
    .quote { 
        grid-area: quote; 
        background-color: rgb(248, 81, 109); 
        text-align: center;
        padding: 110px;
    }
          
    .sidebar { 
        grid-area: sidebar; 
        text-align: center;
        background-color: rgb(247, 129, 149);
        padding: 270px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .container3 {
        display: grid;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 8px 8px;
        grid-auto-flow: row;
        grid-template-areas:
          "div4 div4 div5 div5 div6 div6 div7 div7";
        font-family: monospace;
        background-color: red;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 40px;
        color: white;
      }
      
      .div4 { 
          grid-area: div4; 
          background-color: pink;
          text-align: center;
          padding: 55px
        }
      
      .div5 { 
          grid-area: div5; 
          text-align: center;
          background-color: rgb(247, 129, 149);
          padding: 55px
        }
      
      .div6 { 
          grid-area: div6; 
          background-color: pink;
          text-align: center;
          padding: 55px
        }
      
      .div7 { 
          grid-area: div7; 
          background-color: rgb(248, 81, 109); 
          text-align: center;
          padding: 55px;
        }

    .container4 {
        display: grid;
        grid-template-rows: 0.3fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
              "footer footer footer footer footer footer footer footer";
        font-family: monospace;
        background-color: red;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        font-size: 40px;
        color: white;
          }
          
        .footer { 
            grid-area: footer;
            background-color: rgb(250, 93, 93);
            text-align: center;
            padding: 35px; 
        }
          